.add-comment {
    width: 400px;
    background-color: #BCEBC0;
    margin: auto;
    border: solid 5px #95FA8B;
    border-radius: 30px;
    

    p {
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }

    form {
        width: 100%;
        text-align: center;
        position: relative;
        label {
            font-size: 18px;
        }
        input {
            margin: 10px;
            border-radius: 5px;
            height: 25px;
            font-size: 16px;
            width: 60%;
        }

        .comment-textarea {
            position: relative;
            width: 400px;
            text-align: left;
            height: 200px;
            margin: 10px;
            textarea {
                width: 230px;
                height: 150px;
                position: absolute;
                z-index: 2;
                top: 30px;
                left: 0;
                border-radius: 10px;
                font-size: 16px;
            }
            .buttons {
                position: relative;
                top: -20px;
                padding-top: 0px;
                position: relative;
                padding-left: 250px;
                width: 150px;

                p {
                    font-size: 14px;
                    margin-bottom: 0;
                    width: 100px;
                }
                button {
                    margin-top: 10px;
                    font-size: 12px;
                    &:nth-child(8) {
                        width: 125px;
                        white-space: nowrap;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }        
        }

        .send {
            margin: 10px;
            height: 25px;
            font-size: 16px;
            border-radius: 5px;

        }
    }
}

.input-wrong {
    border-color: red;
    border-width: 3px;
    background-color: #F6C4C4;
}

.input-invalid {
    width: 60%;
    color: red;
    font-size: 14px;
    margin: 2px;
    border: solid 2px red;
    border-radius: 5px; 
    margin: auto;
    background-color: #F6C4C4;
}

.textarea-invalid {
    width: 90%;
    color: red;
    font-size: 14px;
    margin: 2px;
    border: solid 2px red;
    border-radius: 5px; 
    margin: auto;
    text-align: left;
    padding: 10px;
    background-color: #F6C4C4;
    ul {
        list-style-position: inside;
        li {
            color: red;
            font-size: 14px;
        }
    }
}