$Engine: Engine-Regular, arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$Tahoma: tahoma, arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$menuTextColor: #33424f;

$bodyColor: #ffffff;


$contentWidth: 1200px;
$footerHeight: 200px;
$marginFooterHeight: $footerHeight + 20px;

