$Minion: "Minion-Pro", arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$Tahoma: tahoma, arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$bodyColor: #ffffff;


$contentWidth: 1200px;
$minWidth: 650px;
$footerHeight: 100px;
$marginFooterHeight: $footerHeight + 20px;

