<div class="comments">
    <div class="comment" ng-repeat="comment in comments |orderBy:sortField:rever">
        <div class="comment-parent">
            <div class="user-data">
                <div class="user-image">
                    <img src="media/user.png" height="40px;" alt="user">
                </div>
                <div class="user-name">
                    <span>{{comment.userName}}</span>
                </div>
                <div class="user-comment-date">
                    <p><span>{{comment.userDate | mydateFilter}}</span></p>
                </div>
                <div class="user-rating">
                    <span>{{comment.userRating}}</span>
                </div>
                <div class="user-rating-plus" ng-click="getLike(comment)">
                    
                </div>
                <div class="user-rating-minus" ng-click="getDislike(comment)">

                </div>
            </div>
            <div class="user-text">
                <div class="comment-text">
                    <p>{{comment.commentText}}</p>
                </div>
                <div class="comment-image">
                    <img ng-src="{{comment.comment_picture}}" alt="{{comment.comment_picture}}">
                </div>
            </div>
            <div class="comment-comment">
                <span ng-click="addForm = !addForm">Ответить</span>
                <div class="add-form" ng-show="addForm">
                    <addcomment-dir comment="comment"></addcomment-dir>
                </div>
            </div>
        </div>
        <div class="comments-child">
            <comments-dir comments="{{comment.childComments}}"></comments-dir>
        </div>
    </div>
</div>