<div class="comments">
    <div class="comment" ng-repeat="comment in comments">
        <div class="comment-parent">
            <div class="user-data">
                <div class="user-image">
                    <img src="media/user.png" height="40px;" alt="user">
                </div>
                <div class="user-name">
                    <span>{{comment.userName}}</span>
                </div>
                <div class="user-comment-date">
                    <p><span>1 августа 2016</span> в <span>17:44</span></p>
                </div>
                <div class="user-rating">
                    <span>{{comment.userRating}}</span>
                </div>
                <div class="user-rating-plus">
                    <img src="1" alt="">
                </div>
                <div class="user-rating-minus">
                    <img src="2" alt="">
                </div>
            </div>
            <div class="user-text">
                <div class="comment-text">
                    <p>{{comment.commentText}}</p>
                </div>
                <div class="comment-image">
                    <img src="33" alt="">
                </div>
            </div>
        </div>
        <div class="comments-child">
            <comments-dir comments="{{comment.childComments}}"></comments-dir>
        </div>
    </div>
</div>