<addcomment-dir></addcomment-dir>
<br/>
<div class="sort">
    <div class="sort-line">
        <span>Сортировка комментариев:</span>
        <button ng-click="orderByName('userName')">По имени пользователя</button>
        <button ng-click="orderByRating('userRating')">По рейтингу</button>
        <button ng-click="orderByDate('userDate')">По дате добавления</button>
    </div>
</div>

<comments-dir comments="{{comments[page]}}"></comments-dir>


<div class="pages" id="pages">
    <a href="#/page/{{page}}" ng-show="!leftBlock">&lt;</a>
    <a ng-show="leftBlock" id="arrow-left-block">&lt;</a>
    <a href="#/page/{{$index+1}}" numberpage-dir index="{{$index}}" ng-repeat="i in comments">{{$index+1}}</a>
    <a ng-show="rightBlock" id="arrow-right-block">&gt;</a>
    <a href="#/page/{{page + 2}}" ng-show="!rightBlock">&gt;</a>
</div>
