<div class="add-comment">
    <p>Send comment</p>
    <form name="addCommentForm">
        <label for="name">Your name:</label><br/>
        <input type="text" name="userName" id="name" placeholder="Enter your name"><br/>

        <label for="email">Your email:</label><br/>
        <input type="text" name="userEmail" id="email" placeholder="Enter your email"><br/>

        <label for="url">Your homepage url:</label><br/>
        <input type="text" name="userUrl" id="url" placeholder="Enter your homepage url"><br/>
        <div class="comment-textarea">
                <label for="comment">Enter your comment:</label><br/>  
                <textarea name = "userComment" id="comment" placeholder="Enter your comment"></textarea>
                <div class="buttons">
                    <p>You can use tags:</p>
                    <button>&lt;i&gt;</button><br/>
                    <button>&lt;strong&gt;</button><br/>
                    <button>&lt;a&gt;</button><br/>
                    <button>&lt;code&gt;</button><br/>
                </div>    
        </div>   
        <div class="captha">
            <img src="dd" alt="dd">
            <input type="text" name="captha">
            <div class="clear-both"></div>
        </div> 
        <button class="send">Send comment!</button>    
    
    </form>
</div>

<div class="comments">
    <div class="comment">
        <div class="comment-parent">
            <div class="user-data">
                <div class="user-image">
                    <img src="1" alt="">
                </div>
                <div class="user-name">
                    <span>Nikolay Krugol</span>
                </div>
                <div class="user-comment-date">
                    <p><span>1 августа 2016</span> в <span>17:44</span></p>
                </div>
                <div class="user-rating">
                    10
                </div>
                <div class="user-rating-plus">
                    <img src="1" alt="">
                </div>
                <div class="user-rating-minus">
                    <img src="2" alt="">
                </div>
            </div>
            <div class="user-text">
                <div class="comment-text">
                    <p>lsfkfsfnkls dl fsjdf  djsgj sgg jksg jkg s gjkg js gjs gjk gjsgj gj gsjk gjks gkj sgj jkg jksg jgjs gkjg jks gjks gjsjg jg jsg kj gskjg jks gjks gkj gkjg kjsg jkg kjsg sjgkjs gjsdg sd gosdg lsjdg ljsdg lsdgj dsg jds jlg jdlsg ljsdg jlg dsgjsd glsd</p>
                </div>
                <div class="comment-image">
                    <img src="33" alt="">
                </div>
            </div>
        </div>
        <div class="comments-child">
            

            <div class="comment">
                <div class="comment-parent">
                    <div class="user-data">
                        <div class="user-image">
                            <img src="1" alt="">
                        </div>
                        <div class="user-name">
                            <span>Nikolay Krugol</span>
                        </div>
                        <div class="user-comment-date">
                            <p><span>1 августа 2016</span> в <span>17:44</span></p>
                        </div>
                        <div class="user-rating">
                            10
                        </div>
                        <div class="user-rating-plus">
                            <img src="1" alt="">
                        </div>
                        <div class="user-rating-minus">
                            <img src="2" alt="">
                        </div>
                    </div>
                    <div class="user-text">
                        <div class="comment-text">
                            <p>lsfkfsfnkls dl fsjdf  djsgj sgg jksg jkg s gjkg js gjs gjk gjsgj gj gsjk gjks gkj sgj jkg jksg jgjs gkjg jks gjks gjsjg jg jsg kj gskjg jks gjks gkj gkjg kjsg jkg kjsg sjgkjs gjsdg sd gosdg lsjdg ljsdg lsdgj dsg jds jlg jdlsg ljsdg jlg dsgjsd glsd</p>
                        </div>
                        <div class="comment-image">
                            <img src="33" alt="">
                        </div>
                    </div>
                </div>
                <div class="comments-child">
                    
                </div>
            </div>



        </div>
    </div>
</div>